node_modules/
venv*/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
dist/
*.egg-info/
.installed.cfg
*.egg
.env
.coverage
htmlcov/
.pytest_cache/
release/
*.msi
*.exe
*.dmg
*.log
sync_logs.json
settings.json
client_secrets.json
